
<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2024 - Selçuk Üniversitesi - Ziraat Fakültesi
        </div>
        <br />
        
        <div>
            <div class="social">
        
                <a href="https://www.facebook.com" class="fab fa-facebook-f"></a>
                  
                   
                <a  href="https://twitter.com" class="fab fa-twitter"></a>
                      
                
                <a class="fab fa-instagram" href="https://www.instagram.com"></a>
                           
                <a class="fab fa-linkedin" href="https://www.linkedin.com"></a>
                     
            </div>
        
    </div>
</footer>